
/*

button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 8px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button:hover {
    background-color: green;
  }
*/


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    background-color: rgb(167, 167, 240);
    height: 110px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.637);
}
#reset {
    padding: 10px;
}
button{
  border-radius: 10px;
}
button img{
  width: 70px;
  height: 65px;
  box-shadow: black;
  border-radius: 10px;
}
button:hover {
    transform: scale(1.25);
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}

.figure {
  position: absolute;
}

#bigYellow-Triangle {
  width: 10em;
  height: 20em;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: #ffd900;
}
#bigRed-Triangle {
  width: 20em;
  height: 10em;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: #ff0000;
}

#pink-Triangle {
  width: 5em;
  height: 10em;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #f36bd6;
}
#turquoise-Triangle {
  width: 10em;
  height: 10em;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: #13f7d8;
}
#orange-Square {
  width: 10em;
  height: 10em;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #ffae00;
}

#green-Parallelogram {
  width: 17.5em;
  height: 5em;
  clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
  background-color: #2ea85f;
}
#purple-Triangle {
  width: 10em;
  height: 5em;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: rgb(141, 4, 154);
}