.turquoise-Triangle {
  transform: translateX(0.5em) translateY(-2.6em) rotate(135deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.pink-Triangle {
  transform: translateX(3em) translateY(11.4em) rotate(180deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.orange-Square {
  transform: translate(12.5em, 1.5em);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.purple-Triangle {
  transform: translateX(3em) translateY(-9.7em) rotate(90deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.green-Parallelogram {
  transform: translateX(4.9rem) translateY(3.5em) rotate(315deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.bigRed-Triangle {
  transform: translateX(-3em) translateY(5em) rotate(405deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.bigYellow-Triangle {
  transform: translateX(-3em) translateY(-2.1em) rotate(225deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

body {
    background-color: rgb(235, 193, 102);
    background-image: url(https://i.pinimg.com/originals/b1/92/28/b19228f0fc6af3a905da6554821421b4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 117%;
}
