.bigYellow-Triangle {
    transform: translateX(0em) translateY(10em) rotate(315deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigRed-Triangle {
    transform: translateX(6.5em) translateY(4.5em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.pink-Triangle {
    transform: translateX(-8em) translateY(1.5em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Square {
    transform: translate(-5.5em, -3.5em);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.green-Parallelogram {
    transform: translateX(-3rem) translateY(-12.2em) rotate(270deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Triangle {
    transform: translateX(-7.2em) translateY(-13.1em) rotate(315deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.turquoise-Triangle {
    transform: translateX(-3.5em) translateY(6.5em) rotate(315deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

body {
    background-color: rgb(143, 229, 229);
    background-image: url(https://img.freepik.com/vecteurs-libre/scene-paysage-naturel_1308-31832.jpg?t=st=1650463786~exp=1650464386~hmac=784202952c3301458b140c632e8a3565b581ef91a611dd14f453c2aa8e3000c0&w=1380);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}